<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Giga:wght@500&display=swap"
        rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="top-left-logo">
  <a href="/login">
    <img src="../../../../assets/images/logo.png" alt="Logo">
  </a>
</div>
<div class="container-fluid">
  <div class="col-12 col-lg-10 mx-auto">
    <div class="card custom-card">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <!-- Start row with Title, startTime and Date -->
        <div class="top-banner">
          <div class="row">
            <div class="column">
              <h1 class="font-heading">Reserve</h1>
            </div>
            <div class="column">
              <input
                type="time"
                id="reservationStartTime"
                name="reservationStartTime"
                placeholder="hh:mm"
                class="form-control"
                [(ngModel)]="sharedStartTime"
                #reservationStartTimeModel="ngModel"
                (ngModelChange)="onFieldChange()"
                (change)="onTimeChange($event)"
                required
              />
            </div>
            <div class="column">
              <input
                type="date"
                id="reservationDate"
                name="reservationDate"
                pattern="\d{4}-\d{2}-\d{2}"
                placeholder="dd-mm-yyyy"
                class="form-control"
                [(ngModel)]="sharedDate"
                #reservationDateModel="ngModel"
                (ngModelChange)="onFieldChange()"
                required
              />
            </div>
          </div>

          <hr class="my-4">
        </div>

        <!-- Start row with notification -->
        <div class="row">
          <div class="column">
            <div class="col-lg-12" [class]="reservationStatusClass">
              {{ reservationStatusText }}
            </div>
          </div>
        </div>
        <!-- End row with notification -->

        <!-- Start row with available tables -->
        <div class="row" *ngIf="unavailable && nextAvailableTables.length > 0">
          <div class="column">
            <div class="col-lg-12 justify-content-center">
              <div class="d-flex flex-row justify-content-between w-100">
                <button type="button" class="btn available-btn" *ngFor="let table of nextAvailableTables" (click)="selectAvailable(table)">
                  {{ table.startTime }}, {{ table.date }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End row with available tables -->

        <hr class="my-4">

        <!-- Start row with advanced view -->
        <div class="row" style="justify-content: center; padding: 2vh">
          <button type="button" class="btn av-btn" routerLink="/reservation-layout">Advanced View -></button>
        </div>
        <!-- End row with advanced view -->


        <!-- Start event-row-content-wrapper with event card and some form-fields -->
        <div class="event-row-content-wrapper">
          <div class="event-column-left">
            <!-- Start row with pax -->
            <div class="row">
              <div class="column pax-container">
                <label for="reservationPax" style="margin-right: 10px;">Table for:</label>
                <input
                  type="number"
                  id="reservationPax"
                  name="reservationPax"
                  placeholder="pax"
                  class="form-control pax-input"
                  [(ngModel)]="reservationCreateDto.pax"
                  #reservationPax="ngModel"
                  (ngModelChange)="onFieldChange()"
                  min="1"
                  required
                />
              </div>
            </div>
            <!-- End row with pax -->

            <!-- Start row with (firstName, lastName, Mail, Phone), Notes -->
            <div class="row">
              <div class="column" *ngIf="!authService.isLoggedIn()">
                <!-- start guest fields -->
                <div>
                  <input
                    type="text"
                    id="reservationFirstName"
                    name="reservationFirstName"
                    placeholder="First Name"
                    class="form-control"
                    [(ngModel)]="reservationCreateDto.firstName"
                    #reservationFirstName="ngModel"
                    required
                  />

                  <input
                    type="text"
                    id="reservationLastName"
                    name="reservationLastName"
                    placeholder="Last Name"
                    class="form-control"
                    [(ngModel)]="reservationCreateDto.lastName"
                    #reservationLastName="ngModel"
                    required
                  />

                  <input
                    type="email"
                    id="reservationEmail"
                    name="reservationEmail"
                    placeholder="Email"
                    class="form-control"
                    [(ngModel)]="reservationCreateDto.email"
                    #reservationEmail="ngModel"
                    required
                  />

                  <input
                    type="tel"
                    id="reservationMobileNumber"
                    name="reservationMobileNumber"
                    placeholder="Phone (optional)"
                    class="form-control"
                    [(ngModel)]="reservationCreateDto.mobileNumber"
                    #reservationMobileNumber="ngModel"
                  />
                </div>
                <!-- End guest fields -->
              </div>
            </div>
            <!-- End row with (firstName, lastName, Mail, Phone), Notes -->
          </div>
          <!-- End event-column-left -->

          <!-- Start event-column-right -->


            <div class="event-column-right">
              <div class="custom-event-card">
                <h3>Events</h3>
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let event of events">
                    <td>{{ event.name }}</td>
                    <td>{{ formatDotDateShort(event.startTime) }} {{ formatIsoTime(event.startTime) }}h</td>
                    <td>
                      <div class="btn-group">
                        <a class="btn btn-sm responsive-info-button"
                           aria-label="Show reservation details"
                           (click)="showEventDetails(event.hashId)">
                          <i class="bi bi-info-lg"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          <!-- End event-column-right -->

        </div>
        <!-- End event-row-content-wrapper -->

        <div class="column">
              <textarea
                id="reservationNotes"
                name="reservationNotes"
                placeholder="Notes (optional)"
                class="form-control notes-textarea"
                [(ngModel)]="reservationCreateDto.notes"
                #reservationNotes="ngModel"
              ></textarea>
        </div>
        <!-- End row with (firstName, lastName, Mail, Phone), Notes -->

        <div class="row">
          <div class="column">
            <div class="btn-group">
              <button type="submit" class="btn btn-danger btn-sm" [disabled]="!form.valid || isBookButtonTimeout || unavailable">
                Book
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
