body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.custom-card {
  position: relative;
  border-radius: 20px 20px 0 0;
  background: white;
  margin-top: 2vh;
  height: 96vh; /* Adjust height to fill screen */
  width: 100%;
  padding: 2vh;
  overflow-y: auto; /* Enable vertical scrolling */
}

.top-banner {
  position: sticky;
  top: -2vh;
  left: 0;
  right: 0;
  background: white;
  z-index: 100;
  border-radius: 20px 20px 0 0;
  padding-top: 2vh;
  margin: -2vh 0 2vh 0;
}

.top-left-logo {
  position: absolute;
  margin-top: 3vh;
  margin-left: 3vw;
  top: 0;
  left: 0;
  height: 6em;
  width: auto;
  z-index: 1000;
}

.top-left-logo img {
  height: 100%;
  width: auto;
}
@media (max-width: 1250px) {
  .top-left-logo {
    display: none; /* This hides the logo on screens with width 1000 or less */
  }
}

