<!-- Parent container to conditionally apply classes -->
<div id="sidebar" [ngClass]="{'sidebar-visible': isSidebarVisible, 'sidebar-hidden': !isSidebarVisible}">
  <!-- Toggle Button for the Sidebar -->
  <button id="sidebar-toggle-button" class="btn toggle-btn" (click)="toggleSidebar()">
    <i class="arrow" [class.arrow-right]="!isSidebarVisible" [class.arrow-left]="isSidebarVisible"></i>
  </button>
  <!-- Just after opening the <body> tag or as part of app component -->
  <div class="overlay" *ngIf="isSidebarVisible" (click)="isSidebarVisible = false"></div>

  <!-- Sidebar Navigation -->
  <div class="sidebar" [class.hidden]="!isSidebarVisible">
    <a class="navbar-brand text-center" href="#">Spotter</a>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservation-simple" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" routerLink="/reservation-overview" routerLinkActive="active">Reservations</a>
      </li>
      <li class="nav-item" *ngIf="authService.getUserRole() === 'ADMIN'">
        <a class="nav-link" routerLink="/event-overview" routerLinkActive="active">Events</a>
      </li>
      <li class="nav-item" *ngIf="authService.getUserRole() === 'ADMIN' && hasNoAreas">
        <a class="nav-link" routerLink="/create-layout" routerLinkActive="active">Create Layout</a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="authService.getUserRole() === 'EMPLOYEE'||authService.getUserRole() === 'ADMIN'">
        <a class="nav-link" routerLink="/employee-view" routerLinkActive="active">Employee View</a>
      </li>
      <li class="nav-item" *ngIf="authService.getUserRole() === 'ADMIN'">
        <a class="nav-link" routerLink="/registration" routerLinkActive="active">Add Employee Account</a>
      </li>
      <li class="nav-item" *ngIf="authService.getUserRole() === 'ADMIN'">
        <a class="nav-link" routerLink="/employees" routerLinkActive="active">Staff Accounts</a>
      </li>
      <li class="nav-item" *ngIf="authService.getUserRole() === 'ADMIN'">
        <a class="nav-link" routerLink="/admin-view" routerLinkActive="active">Admin View</a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
        <a class="nav-link" routerLink="/login" (click)="authService.logoutUser()">Logout</a>
      </li>
    </ul>
  </div>
</div>
