<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Permanent Reservation Deletion Confirmation</title>
</head>
<body>
<p>Dear [[${recipientName}]],</p>
<p>Your permanent reservation has been canceled.</p>
<p><span th:text="${restaurantName}"></span> for <span th:text="${startDate}"></span> until <span
    th:text="${endDate}"></span>
    from <span th:text="${startTime}"></span> to <span th:text="${endTime}"></span></p>
<p>repeating every <span th:text="${period}"></span> <span th:text="${repetition}"></span></p>
<p th:text="${text}"></p>
<p><span th:text="${persons}"></span> Persons</p>

<p th:if="${!deletedReservationDates.empty}">The following dates were affected: </p>
<ul th:if="${!deletedReservationDates.empty}">
    <li th:if="${!deletedReservationDates.empty}" th:each="date : ${deletedReservationDates}" th:text="${date}">Date
    </li>
</ul>
<p>Thank you for using our service.</p>
<p>Best regards,</p>
<p>The Spotter Team</p>
</body>
</html>
