<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Giga:wght@500&display=swap"
        rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="top-left-logo">
  <img src="assets/images/logo.png" alt="Logo">
</div>
<div class="container-fluid">
  <div class="col-12 col-lg-10 mx-auto">
    <div class="card custom-card">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <!-- Start row with Title, startTime and Date -->
        <div class="row">
          <div class="column">
            <h1 class="font-heading">Edit</h1>
          </div>
          <div class="column">
            <input
              type="time"
              id="reservationStartTime"
              name="reservationStartTime"
              placeholder="hh:mm"
              class="form-control"
              [(ngModel)]="reservationEditDto.startTime"
              #reservationStartTimeModel="ngModel"
              (ngModelChange)="onFieldChange()"
              required
            />
          </div>
          <div class="column">
            <input
              type="date"
              id="reservationDate"
              name="reservationDate"
              pattern="\d{4}-\d{2}-\d{2}"
              placeholder="dd-mm-yyyy"
              class="form-control"
              [(ngModel)]="reservationEditDto.date"
              #reservationDateModel="ngModel"
              (ngModelChange)="onFieldChange()"
              required
            />
          </div>
        </div>

        <hr class="my-4">

        <!-- Start row with notification -->
        <div class="row">
          <div class="column">
            <div class="col-lg-12" [class]="reservationStatusClass">
              {{ reservationStatusText }}
            </div>
          </div>
        </div>
        <!-- End row with notification -->

        <hr class="my-4">

        <!-- Start row with advanced view -->
        <div class="row" style="justify-content: center; padding: 2vh">
          <button class="btn av-btn" routerLink="">Advanced View -></button>
        </div>
        <!-- End row with advanced view -->

        <!-- Start row with pax -->
        <div class="row">
          <div class="column pax-container">
            <label for="reservationPax" style="margin-right: 10px;">Table for:</label>
            <input
              type="number"
              id="reservationPax"
              name="reservationPax"
              placeholder="pax"
              class="form-control pax-input"
              [(ngModel)]="reservationEditDto.pax"
              #reservationPax="ngModel"
              (ngModelChange)="onFieldChange()"
              min="1"
              required
            />
          </div>
        </div>
        <!-- End row with pax -->

        <!-- Start row with (firstName, lastName, Mail, Phone), Notes -->
        <div class="row">
          <div class="column" *ngIf="!authService.isLoggedIn()">
            <div>
              <!-- start guest fields -->
              <input
                type="text"
                id="reservationFirstName"
                name="reservationFirstName"
                placeholder="First Name"
                class="form-control"
                [(ngModel)]="reservationEditDto.user.firstName"
                #reservationFirstName="ngModel"
                required
              />

              <input
                type="text"
                id="reservationLastName"
                name="reservationLastName"
                placeholder="Last Name"
                class="form-control"
                [(ngModel)]="reservationEditDto.user.lastName"
                #reservationLastName="ngModel"
                required
              />

              <input
                type="text"
                id="reservationEmail"
                name="reservationEmail"
                placeholder="Email"
                class="form-control"
                [(ngModel)]="reservationEditDto.user.email"
                #reservationEmail="ngModel"
                required
              />

              <input
                type="tel"
                id="reservationMobileNumber"
                name="reservationMobileNumber"
                placeholder="Phone (optional)"
                class="form-control"
                [(ngModel)]="reservationEditDto.user.mobileNumber"
                #reservationMobileNumber="ngModel"
              />
            </div>
          </div>
          <!-- End guest fields -->

          <div class="column">
              <textarea
                id="reservationNotes"
                name="reservationNotes"
                placeholder="Notes (optional)"
                class="form-control notes-textarea"
                [(ngModel)]="reservationEditDto.notes"
                #reservationNotes="ngModel"
              ></textarea>
          </div>
        </div>
        <!-- End row with (firstName, lastName, Mail, Phone), Notes -->

        <!-- Start special offers -->
        <div class="row">
          <div class="row">
            <div class="column p-0">
              <h1 class="font-heading">Special Offers</h1>
            </div>
          </div>
          <div class="row" *ngIf="showSpecialOffers">
            <div class="custom-order-card m-2 p-2 column" *ngFor="let offer of allSpecialOffers">
              <div class="row">
                {{ offer.name }}
              </div>
              <div class="row">
                <a class="custom-order-button" (click)="selectOffer(offer.id)">
                  Add
                </a>
              </div>
            </div>
          </div>

          <div class="row">
            <table>
              <thead *ngIf="reservationEditDto.specialOffers.length > 0">
              <th>
                Amount
              </th>
              <th>
                Special Offer
              </th>
              <th>
                Price
              </th>
              <th>
                Actions
              </th>
              </thead>
              <tbody>
              <tr *ngFor="let specialOffer of reservationEditDto.specialOffers; let i = index">
                <td>
                  {{ specialOffer.amount }}x
                </td>
                <td>
                  {{ specialOffer.specialOffer.name }}
                </td>
                <td>
                  {{ specialOffer.specialOffer.pricePerPax }}€
                </td>
                <td>
                  <button type="button" class="btn btn-sm btn-secondary me-1" (click)="removeSpecialOffer(i)">
                    <i class="bi bi-dash-lg text-white"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-primary ms-1" (click)="addSpecialOffer(i)">
                    <i class="bi bi-plus-lg text-white"></i>
                  </button>
                </td>
              </tr>
              <tr *ngIf="!showSpecialOffers">
                <td>
                  <button type="button" class="btn btn-primary" (click)="showSpecialOffers = true">
                    Add Special Offer
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <button type="submit" class="btn btn-danger" [disabled]="!form.valid">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
