.jumbotron {
  background: none
}
.custom-card {
  border-radius: 20px 20px 0 0;
  background: white;
  margin-top: 2vh;
  margin-bottom: -1vh;
  height: 97vh;
  padding: 2vh;
}
.font-heading {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 2vw;
}
.top-left-logo {
  position: absolute;
  margin-top: 3vh;
  margin-left: 3vw;
  top: 0;
  left: 0;
  height: 6em;
  width: auto;
  z-index: 1000;
}

.top-left-logo img {
  height: 100%;
  width: auto;
}
@media (max-width: 1250px) {
  .top-left-logo {
    display: none; /* This hides the logo on screens with width 768px or less */
  }
}

.custom-order-card {
  width: 100%;
  background: white;
  border: 2px solid #377eb8;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-align: center;
}

.custom-order-button {
  background-color: #377eb8;
  border: 2px solid #377eb8;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;
  margin: 2px;
  cursor: pointer;
}

.custom-order-button:hover {
  background-color: white;
  color: #377eb8;
  cursor: pointer;
}

.custom-order-button:disabled {
  background-color: lightgray;
  color: white;
}
