<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ICS File Upload</title>
</head>
<body>
<div class="top-left-logo">
  <a href="/login">
    <img src="../../../../../assets/images/logo.png" alt="Logo">
  </a></div>
<div class="container-fluid align-items-center justify-content-center">
  <div class="col-12 col-lg-10 mx-auto h-90 py-3">
    <div class="card custom-card">
      <form (ngSubmit)="onUpload()" #uploadForm="ngForm">
        <input type="file" name="file" (change)="onFileSelected($event)" accept=".ics" required>
        <button type="submit" [disabled]="!selectedFile">Upload</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
