body {
  background: none;
}
.custom-card {
  border-radius: 15px;
  background: white;
}
.card-width {
   width: 100%;
   max-width: 600px;
 }
.font-heading {
  font-family: 'Lexend Giga', sans-serif;
  font-size: 2vw;
  letter-spacing: -0.02em;
  white-space: nowrap;
  padding: 0 10px;
}
.font-text {
  font-family: 'Inter', sans-serif;
}
.full-height {
  height: 100vh;
}

.leckerli-one-regular {
  font-family: "Leckerli One", cursive;
  font-size: 8vw;
}
.logo {
  height: 8vw;
  width: auto;
  margin-right: 2em;
}
.btn-outline-custom {
  color: white;
  border-color: white;
  background-color: transparent;
  font-size: 1.5vw;
}
.btn-outline-custom:hover {
  background-color: white;
  color: black;
}
.left-col {
}
.right-col {
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}

.separator .line {
  flex: 1;
  height: 1px;
  background-color: black;
}
