<body>
<div class="top-left-logo">
  <a href="/login">
    <img src="../../../../assets/images/logo.png" alt="Logo">
  </a></div>
<div class="container-fluid align-items-center justify-content-center">
  <div class="col-12 col-lg-10 mx-auto h-90 py-3">
    <div class="card custom-card">
      <form class="d-flex flex-row w-auto mb-3" (submit)="loadReservations()">
        <button type="submit" hidden="hidden">submit</button>
        <div class="ms-1">
          <label for="searchEarliestReservation" class="col-form-label">
            Earliest Date
          </label>
          <input type="date" id="searchEarliestReservation" name="searchEarliestReservation"
                 pattern="\d{4}-\d{2}-\d{2}"
                 placeholder="yyyy-mm-dd"
                 class="form-control"
                 [(ngModel)]="searchEarliestDate"
                 (ngModelChange)="searchChanged()"
          >
        </div>
        <div class="ms-1">
          <label for="searchLatestReservation" class="col-form-label">
            Latest Date
          </label>
          <input type="date" id="searchLatestReservation" name="searchLatestReservation"
                 pattern="\d{4}-\d{2}-\d{2}"
                 placeholder="yyyy-mm-dd"
                 class="form-control"
                 [(ngModel)]="searchLatestDate"
                 (ngModelChange)="searchChanged()"
          >
        </div>
        <div class="ms-1">
          <label for="searchEarliestStartTime" class="col-form-label">
            Earliest Start Time
          </label>
          <input type="time" id="searchEarliestStartTime" name="searchEarliestStartTime"
                 pattern="\d{2}:\d{2}"
                 placeholder="HH:mm"
                 class="form-control"
                 [(ngModel)]="searchEarliestStartTime"
                 (ngModelChange)="searchChanged()">
        </div>
        <div class="ms-1">
          <label for="searchLatestEndTime" class="col-form-label">
            Latest End Time
          </label>
          <input type="time" id="searchLatestEndTime" name="searchLatestEndTime"
                 pattern="\d{2}:\d{2}"
                 placeholder="HH:mm"
                 class="form-control"
                 [(ngModel)]="searchLatestEndTime"
                 (ngModelChange)="searchChanged()">
        </div>
        <div class="ms-1 align-self-end">
          <button type="button" class="btn btn-primary" (click)="resetSearchParams()"><i
            class="bi bi-arrow-clockwise"></i></button>
        </div>
      </form>

      <!-- Admin and Employee Views -->
      <div *ngIf="isEmployee() || isAdmin()">
        <div class="text-center mb-5" *ngIf=" !(todaysReservations.length===0 && upcomingReservations.length!==0)">
          <h3>Todays Reservations</h3>
          <table *ngIf="todaysReservations.length!==0" class="table table-hover">
            <thead>
            <tr>
              <th>Status</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Name</th>
              <th>Seats</th>
              <th>Table Number</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of todaysReservations">
              <td>
                <div *ngIf="reservation.confirmed">
                  <i class="bi bi-check-circle-fill text-success"></i>
                </div>
                <div *ngIf="!reservation.confirmed">
                  <i class="bi bi-x-circle-fill text-danger"></i>
                </div>
                <div *ngIf="reservationIsInTheFuture(reservation)">
                  <i class="bi bi-clock text-primary"></i>
                </div>
              </td>
              <td>{{ reservation.startTime }}</td>
              <td>{{ reservation.endTime }}</td>
              <td>{{ reservation.userFirstName }} {{ reservation.userLastName }}</td>
              <td>{{ reservation.pax }}</td>
              <td>{{ reservation.placeId }}</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-sm responsive-success-button"
                     aria-label="Confirm reservation has arrived"
                     (click)="confirmReservation(reservation.hashId)">
                    <i class="bi bi-check-circle"></i>
                  </a>
                  <a class="btn btn-sm responsive-info-button"
                     aria-label="Show reservation details" [routerLink]="['/reservation-detail',reservation.hashId]">
                    <i class="bi bi-info-lg"></i>
                  </a>
                  <a class="btn btn-sm responsive-warning-button"
                     aria-label="Edit reservation" [routerLink]="['/reservation-edit',reservation.hashId]">
                    <i class="bi bi-pencil"></i>
                  </a>
                  <a class="btn btn-sm responsive-danger-button"
                     aria-label="Delete reservation"
                     data-bs-toggle="modal"
                     data-bs-target="#confirmation-dialog-delete"
                     (click)="openConfirmationDialog(reservation.hashId)">
                    <i class="bi bi-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <h4 *ngIf="todaysReservations.length===0">No open reservations for today!</h4>
        </div>

        <div>
          <h3 class="text-center mb-5">Upcoming Reservations</h3>
          <div *ngFor="let day of displayedUpcomingReservations | groupByDate">
            <h4>{{ day.key }}</h4>
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Name</th>
                <th>Seats</th>
                <th>Table Number</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let reservation of day.value">
                <td>{{ reservation.startTime }}</td>
                <td>{{ reservation.endTime }}</td>
                <td>{{ reservation.userFirstName }} {{ reservation.userLastName }}</td>
                <td>{{ reservation.pax }}</td>
                <td>{{ reservation.placeId }}</td>
                <td>
                  <div class="btn-group">
                    <a class="btn btn-sm responsive-info-button"
                       aria-label="Show reservation details" [routerLink]="['/reservation-detail',reservation.hashId]">
                      <i class="bi bi-info-lg"></i>
                    </a>
                    <a class="btn btn-sm responsive-warning-button"
                       aria-label="Edit reservation" [routerLink]="['/reservation-edit',reservation.hashId]">
                      <i class="bi bi-pencil"></i>
                    </a>
                    <a class="btn btn-sm responsive-danger-button"
                       aria-label="Delete reservation"
                       data-bs-toggle="modal"
                       data-bs-target="#confirmation-dialog-delete"
                       (click)="openConfirmationDialog(reservation.hashId)">
                      <i class="bi bi-trash"></i>
                    </a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Pagination Controls -->
        <div class="d-flex justify-content-between align-items-center mt-3">
          <button class="btn btn-primary" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
            Previous
          </button>
          <span>Page {{ currentPage }} of {{ Math.ceil(totalUpcomingReservations / pageSize) }}</span>
          <button class="btn btn-primary" (click)="changePage(currentPage + 1)"
                  [disabled]="currentPage >= Math.ceil(totalUpcomingReservations / pageSize)">
            Next
          </button>
        </div>
      </div>

      <!-- Customer View -->
      <div *ngIf="!isAdmin() && !isEmployee()">
        <div>
          <h3>Your Reservations</h3>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Name</th>
              <th>Seats</th>
              <th>Table Number</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reservation of reservations">
              <td>{{ reservation.date }}</td>
              <td>{{ reservation.startTime }}</td>
              <td>{{ reservation.endTime }}</td>
              <td>{{ reservation.userFirstName }} {{ reservation.userLastName }}</td>
              <td>{{ reservation.pax }}</td>
              <td>{{ reservation.placeId }}</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-sm responsive-info-button"
                     aria-label="Show reservation details" [routerLink]="['/reservation-detail',reservation.hashId]">
                    <i class="bi bi-info-lg"></i>
                  </a>
                  <a class="btn btn-sm responsive-warning-button"
                     aria-label="Edit reservation" [routerLink]="['/reservation-edit',reservation.hashId]">
                    <i class="bi bi-pencil"></i>
                  </a>
                  <a class="btn btn-sm responsive-danger-button"
                     aria-label="Delete reservation"
                     data-bs-toggle="modal"
                     data-bs-target="#confirmation-dialog-delete"
                     (click)="openConfirmationDialog(reservation.hashId)">
                    <i class="bi bi-trash"></i>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-confirmation-dialog-delete
  [dialogTitle]="'Delete this Reservation?'"
  [dialogText]="'Do you really want to delete this reservation?'"
  (confirm)="onDelete()"
></app-confirmation-dialog-delete>
</body>
