<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Giga:wght@500&display=swap"
        rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.0.3/pixi.min.js"></script>
</head>
<body>
<div class="top-left-logo">
  <a href="/login">
    <img src="../../../../assets/images/logo.png" alt="Logo">
  </a></div>
<div class="container-fluid">
  <div class="col-12 col-lg-10 mx-auto">
    <div class="custom-card">
      <form [formGroup]="layoutForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="top-banner">
          <div class="row">
            <div class="column">
              <button type="button" class="btn btn-outline-info w-25" (click)="showExplanation()">
                <i class="bi bi-info-circle-fill"></i>
              </button>
            </div>
            <div class="column">
              <h1 class="font-heading">Edit Layout</h1>
            </div>
            <div class="column"></div>
          </div>
          <hr class="my-4-no-top-margin">
        </div>
        <div class="row">
          <div class="column" style="flex-grow: 2;">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="area-name" formControlName="name" placeholder="Area Name"
                     required maxlength="20">
              <label for="area-name">Area Name</label>
            </div>
          </div>
          <div class="column">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="area-width" formControlName="width" placeholder="Width"
                     required min="1" max="16" step="1">
              <label for="area-width">Width</label>
            </div>
          </div>
          <div class="column">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="area-height" formControlName="height" placeholder="Height"
                     required min="1" max="9" step="1">
              <label for="area-height">Height</label>
            </div>
          </div>
          <div class="column" *ngIf="!isMainAreaDisabled()">
            <div class="form-check form-switch mb-3">
              <input class="form-check-input" type="checkbox" id="main-area" formControlName="isMainArea">
              <label class="form-check-label" for="main-area">Main Area</label>
            </div>
          </div>
          <div class="column">
            <div class="form-check form-switch mb-3">
              <input class="form-check-input" type="checkbox" id="open" formControlName="isOpen">
              <label class="form-check-label" for="open">Open</label>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: -2vh">
          <div class="column">
            <div class="form-floating mb-3">
              <input type="time" class="form-control" id="opening-time" formControlName="openingTime"
                     placeholder="Opening Time">
              <label for="opening-time">Opening Time</label>
            </div>
          </div>
          <div class="column">
            <div class="form-floating mb-3">
              <input type="time" class="form-control" id="closing-time" formControlName="closingTime"
                     placeholder="Closing Time">
              <label for="closing-time">Closing Time</label>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: -2vh" style="align-items: flex-start">

          <div class="col-9">
            <div #d3Container style="width: 100%; height: auto;"></div>
          </div>
          <div class="col-3">
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Place Number</th>
                <th>Status</th>
                <th>Seats</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let table of getCurrentAreaTables()">
                <td>{{ table.placeNumber }}</td>
                <td>{{ table.status ? 'Available' : 'Unavailable' }}</td>
                <td>{{ table.numberOfSeats }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Info Modal -->
        <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">How to Use the Layout Editor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Welcome to the Layout Editor! </p>
                <p>Follow these steps to design your layout:</p>
                <ol>
                  <li>Select a cell where you want to place a table and add all necessary data.</li>
                  <li>To make the table bigger or to shape it as you please, click on adjacent cells to add them to the
                    table.
                  </li>
                  <li>If you make a mistake, simply click on the cell to delete it.</li>
                  <li>One area can be marked as the "Main Area", which will be displayed first when making a
                    reservation.
                  </li>
                  <li>When you are done, press "Save" to save the area.</li>
                </ol>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Got it!</button>
              </div>
            </div>
          </div>
        </div>


        <!-- Modal for entering place data -->
        <div class="modal fade" id="placeModal" tabindex="-1" aria-labelledby="placeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="placeModalLabel">Place Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="placeForm">
                  <div class="mb-3">
                    <label for="placeNumber" class="form-label">Place Number</label>
                    <input type="number" class="form-control" id="placeNumber" formControlName="placeNumber" required>
                  </div>
                  <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" formControlName="status" required>
                      <option value="true">Available</option>
                      <option value="false">Unavailable</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="numberOfSeats" class="form-label">Number of Seats</label>
                    <input type="number" class="form-control" id="numberOfSeats" formControlName="numberOfSeats"
                           required min="1" step="1">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="savePlace()"
                        [disabled]="placeForm.invalid">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for confirming delete -->
        <app-confirm-dialog id="confirm-dialog"
                            [confirmHeader]="confirmHeader"
                            [changeWhatFirstName]="changeWhatFirstName"
                            [changeWhatLastName]="changeWhatLastName"
                            [makeWhat]="makeWhat"
                            [whatRole]="whatRole"
                            [yesWhat]="yesWhat"
                            (confirm)="confirmDelete()">
        </app-confirm-dialog>

        <!-- Confirmation Modal for Saving Layout -->
        <div class="modal fade" id="confirmSaveLayoutModal" tabindex="-1" aria-labelledby="confirmSaveLayoutLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmSaveLayoutLabel">Confirm Save Layout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Save this area?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="confirmSaveLayout()">Confirm</button>
              </div>
            </div>
          </div>
        </div>


        <hr class="my-4">
        <div class="row">
          <div class="column">
            <div class="btn-group">
              <button type="submit" id="submit-button" class="btn btn-danger btn-sm"
                      [disabled]="!layoutForm.valid || createdTables.length === 0">
                Save
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
