<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Giga:wght@500&display=swap"
        rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.0.3/pixi.min.js"></script>
</head>
<body>
<div class="top-left-logo">
  <a>
    <img src="../../../../assets/images/logo.png" alt="Logo">
  </a>
</div>
<div class="container-fluid">
  <div class="col-12 col-lg-10 mx-auto">
    <div class="card custom-card">
      <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
        <!-- Start row with Title, startTime, Date, and Area -->
        <div class="top-banner">
          <div class="row">
            <div class="column">
              <h1 class="font-heading">Reserve</h1>
            </div>
            <div class="column">
              <div class="form-floating mb-3">
                <input type="time" id="reservationStartTime" name="reservationStartTime" placeholder="hh:mm"
                       class="form-control" [(ngModel)]="sharedStartTime" #reservationStartTimeModel="ngModel"
                       (ngModelChange)="onFieldChange()" (change)="onTimeChange($event)" required>
                <label for="reservationStartTime">Start Time</label>
              </div>
            </div>
            <div class="column">
              <div class="form-floating mb-3">
                <input type="date" id="reservationDate" name="reservationDate" pattern="\d{4}-\d{2}-\d{2}"
                       placeholder="dd-mm-yyyy" class="form-control" [(ngModel)]="sharedDate"
                       #reservationDateModel="ngModel" (ngModelChange)="onFieldChange()" required>
                <label for="reservationDate">Date</label>
              </div>
            </div>
            <div class="column">
              <div class="form-floating mb-3">
                <select id="reservationArea" name="reservationArea" class="form-control" [(ngModel)]="selectedAreaId"
                        (change)="onAreaChange($event)" required>
                  <option *ngFor="let area of areas" [value]="area.id">{{ area.name }}</option>
                </select>
                <label for="reservationArea">Area</label>
              </div>
            </div>
          </div>

          <hr class="my-4">
        </div>

        <div class="row" style="margin-right: 0; position: relative">
          <!-- Legend Section -->
          <div class="legend-section">
            <div class="legend-item">
              <div class="legend-card legend-grey"></div>
              <span class="legend-text">Unavailable</span>
            </div>
            <div class="legend-item">
              <div class="legend-card legend-green"></div>
              <span class="legend-text">Available</span>
            </div>
            <div class="legend-item">
              <div class="legend-card legend-red"></div>
              <span class="legend-text">Booked</span>
            </div>
            <div class="legend-item">
              <div class="legend-card legend-blue"></div>
              <span class="legend-text">Selected</span>
            </div>
          </div>
          <!-- End Legend Section -->

          <!-- D3 JS CANVAS HERE -->
          <div class="column">
            <div class="justify-content-center">
              <div #d3Container style="height: auto; width: 75%"></div>
            </div>
          </div>
          <div class="custom-event-card" *ngIf="upcomingEventsExist">
            <h1 class="font-heading">Events</h1>
            <table class="table table-hover">
              <tbody>
              <tr
                *ngFor="let event of events | slice:(currentEventPage-1)*itemsPerPage : currentEventPage*itemsPerPage">
                <td>
                  <div class="event-row">
                    <span class="event-name">{{ event.name }}</span>
                  </div>
                  <div class="event-row">
                    <a class="btn event-info-btn btn-sm" aria-label="Show event details"
                       (click)="showEventDetails(event.hashId)">
                      <i class="bi bi-info-lg"></i>
                    </a>
                    <div class="event-time">{{ event.startTime ? formatDay(event.startTime) : '' }}
                      - {{ event.startTime ? formatDotDate(event.startTime) : '' }}
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="btn-group" style="margin-bottom: 1vh">
              <a class="btn btn-event-skip btn-sm" aria-label="Previous events"
                 [class.disabled]="currentEventPage === 1" (click)="previousPage()">
                <i class="bi bi-arrow-left"></i>
              </a>
              <a class="btn btn-event-skip btn-sm"
                 [class.disabled]="currentEventPage === Math.ceil(events?.length / itemsPerPage)"
                 aria-label="Next events" (click)="nextPage()">
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="card-padding">
          <hr class="my-4">
          <!-- Start row with pax and notes -->
          <div class="row">
            <div class="column justify-content-start" >
              <div class="row" style="margin:0">
                <div class="column" style="flex: 0.2; padding: 0">
                  <div class="rectangle-card mb-4">Selected</div>
                </div>
                <div class="column" style="padding: 0">
                  <div class="form-floating mb-3">
                    <input type="number" id="reservationPax" name="reservationPax" placeholder="pax"
                           class="form-control" [(ngModel)]="reservationCreateDto.pax" #reservationPax="ngModel"
                           (ngModelChange)="onFieldChange()" min="1" required>
                    <label for="reservationPax">Table for</label>
                  </div>
                </div>
              </div>




              <div class="form-floating mb-3">
                <textarea
                  id="reservationNotes"
                  name="reservationNotes"
                  placeholder="Notes (optional)"
                  class="form-control notes-textarea" [(ngModel)]="reservationCreateDto.notes"
                  #reservationNotes="ngModel">
                </textarea>
                <label for="reservationNotes">Notes (optional)</label>
              </div>
            </div>

            <div *ngIf="!authService.isLoggedIn()" class="column">
              <div class="form-floating mb-3">
                <input type="text" id="reservationFirstName" name="reservationFirstName" placeholder="First Name"
                       class="form-control" [(ngModel)]="reservationCreateDto.firstName" #reservationFirstName="ngModel"
                       required>
                <label for="reservationFirstName">First Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" id="reservationLastName" name="reservationLastName" placeholder="Last Name"
                       class="form-control" [(ngModel)]="reservationCreateDto.lastName" #reservationLastName="ngModel"
                       required>
                <label for="reservationLastName">Last Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" id="reservationEmail" name="reservationEmail" placeholder="Email" class="form-control"
                       [(ngModel)]="reservationCreateDto.email" #reservationEmail="ngModel" required>
                <label for="reservationEmail">Email</label>
              </div>
              <div class="form-floating mb-3">
                <input type="tel" id="reservationMobileNumber" name="reservationMobileNumber" placeholder="Phone (optional)"
                       class="form-control" [(ngModel)]="reservationCreateDto.mobileNumber" #reservationMobileNumber="ngModel">
                <label for="reservationMobileNumber">Phone (optional)</label>
              </div>
            </div>
          </div>
          <!-- End row with pax and notes -->

          <div class="row">
            <div class="column">
              <div class="btn-group">
                <button type="submit" id="submit-button" class="btn btn-danger btn-sm"
                        [disabled]="!form.valid || !isPaxValid">
                  Book
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for event details -->
<div class="modal fade" id="event-detail" tabindex="-1" aria-labelledby="event-detail-modal" aria-hidden="true">
  <div class="modal-dialog" id="event-detail-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="event-detail-title">{{ event.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <div class="dt-dd-align">
            <dt class="col-sm-2">From:</dt>
            <dd class="col-sm-10">{{ event.startTime ? formatDay(event.startTime) : '' }}
              - {{ event.startTime ? formatDotDate(event.startTime) : '' }}
              - {{ event.startTime ? formatIsoTime(event.startTime) : '' }}h
            </dd>
          </div>

          <div class="dt-dd-align">
            <dt class="col-sm-2">Until:</dt>
            <dd class="col-sm-10">{{ event.endTime ? formatDay(event.endTime) : '' }}
              - {{ event.endTime ? formatDotDate(event.endTime) : '' }}
              - {{ event.endTime ? formatIsoTime(event.endTime) : '' }}h
            </dd>
          </div>

          <div class="dt-dd-align">
            <dt class="col-sm-2">Info:</dt>
            <dd class="col-sm-10">{{ event.description }}</dd>
          </div>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
