@use "sass:map";
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.custom-card {
  position: relative;
  border-radius: 20px 20px 0 0;
  background: white;
  margin-top: 2vh;
  height: 96vh; /* Adjust height to fill screen */
  width: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
}

.card-padding {
  padding: 0 2vh 0 2vh;
}

.top-banner {
  position: sticky;
  top: -2vh;
  left: 0;
  right: 0;
  background: white;
  z-index: 100;
  border-radius: 20px 20px 0 0;
  padding-top: 2vh;
  margin: -2vh 0 2vh 0;
}

.font-heading {
  font-family: "Leckerli One", cursive;
  font-size: 3vw;
}

.top-left-logo {
  position: absolute;
  margin-top: 3vh;
  margin-left: 3vw;
  top: 0;
  left: 0;
  height: 6em;
  width: auto;
  z-index: 1000;
}

.top-left-logo img {
  height: 100%;
  width: auto;
}

@media (max-width: 1250px) {
  .top-left-logo {
    display: none; /* This hides the logo on screens with width 1000px or less */
  }
}

.reservation-table-available {
  background-color: lightgreen;
  color: darkgreen;
  text-align: center;
  border: 2px solid darkgreen;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
}

.reservation-table-conflict {
  background-color: lightpink;
  color: darkred;
  text-align: center;
  border: 2px solid darkred;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
}

.reservation-table-incomplete {
  background-color: lightgray;
  color: black;
  text-align: center;
  border: 2px solid darkgray;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
}

.hr {
  opacity: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh;
}

.column {
  flex: 1;
  padding: 2vh;
  box-sizing: border-box;
}

.font-heading {
  margin: 0;
  text-align: center;
}

.form-control {
  width: 100%;
  margin-bottom: 1vh;
}

.my-4 {
  margin: 2vh 0;
}

.btn-danger {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.notes-textarea {
  height: calc(4 * 38px + 3 * 1vh); /* adjust height as needed */
}

.row .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row .column .notes-textarea {
  height: calc(4 * 45px + 3 * 1.5vh); /* Default height for larger screens */
}

@media (max-width: 768px) {
  .notes-textarea {
    height: calc(4 * 40px + 3 * 1.2vh); /* Adjust height for medium screens */
  }
}

@media (max-width: 576px) {
  .notes-textarea {
    height: calc(4 * 35px + 3 * 1vh); /* Adjust height for smaller screens */
  }
}

.custom-btn {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 30%;
}

.custom-btn:hover {
  background-color: black;
  color: white;
}

.av-btn {
  background-color: transparent;
  border: 2px solid #cd3545;
  color: #cd3545;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 30%;
}

.av-btn:hover {
  background-color: #cd3545;
  color: white;
}

.available-btn {
  background-color: transparent;
  border: 2px solid darkgreen;
  color: darkgreen;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 30%;
}

.available-btn:hover {
  background-color: darkgreen;
  color: white;
}

@media (max-width: 768px) {
  .row {
    margin: 1vh;
  }

  .column {
    padding: 1vh;
  }

  .font-heading {
    font-size: 4vw;
  }
}

.event-info-btn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
}

.event-info-btn:hover {
  background-color: white;
  color: white;
}

.dt-dd-align {
  display: flex;
  align-items: center;
}

.dt-dd-align dt, .dt-dd-align dd {
  margin: 5px;
  padding: 0;
}

.custom-order-card {
  width: 100%;
  height: 100%;
  background: white;
  border: 2px solid #377eb8;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-align: center;
}


.custom-order-button {
  background-color: #377eb8;
  border: 2px solid #377eb8;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100%;
  margin: 2px;
  cursor: pointer;
}

.custom-order-button:hover {
  background-color: white;
  color: #377eb8;
  cursor: pointer;
}

.custom-order-button:disabled {
  background-color: lightgray;
  color: white;
}


.custom-order-button:disabled {
  background-color: lightgray;
  color: white;
}

.custom-event-card {
  position: absolute;
  right: 0;
  width: 20%;
  margin-top: -15vh;
  border-radius: 20px 0 0 20px;
  background: black;
  padding: 1vh;
  overflow-x: hidden;
}

.custom-event-card h1 {
  color: white;
}

.custom-event-card,
.custom-event-card h3,
.custom-event-card table,
.custom-event-card td,
.custom-event-card th {
  color: white;
}

.event-row-content-wrapper {
  display: flex;
  width: 100%;
}

.event-row-content-wrapper .event-column-left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.event-row-content-wrapper .event-column-right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-seperator {
  height: 2.5rem;
}

.event-row {
  display: flex;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.event-name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-time {
  margin-top: 0.5rem;
  font-size: 0.9em;
  color: lightgray;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table td, .table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-group {
  display: flex;
  gap: 3.0rem;
  justify-content: center;
}

.btn-event-skip {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  max-width: 3.0rem;
  border-radius: 0.7rem;
}

.btn-event-skip:hover {
  background-color: white;
  color: white;
}

.modal-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
