<div class="container mt-4">

  <div class="row justify-content-center">
    <div class="top-left-logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Staff Accounts</h3>
      </div>
      <div class="card-body">

        <!-- Card for Unconfirmed Admins -->
        <div *ngIf="unconfirmedAdmins.length > 0" class="col-md-8 mb-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center">Admins to Confirm</h3>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Actions</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of unconfirmedAdmins">

                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.mobileNumber }}</td>
                  <td>
                    <button class="btn btn-success btn-sm" data-bs-toggle="modal"
                            data-bs-target="#confirm-dialog" (click)="setChangeWhat(user); setDoWhat(2)">
                      <i class="bi bi-check-lg"></i> Confirm
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#confirm-dialog" (click)="setChangeWhat(user); setDoWhat(0)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Card for Unconfirmed Employees -->
        <div *ngIf="unconfirmedEmployees.length > 0" class="col-md-8 mb-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center">Employees to Confirm</h3>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Actions</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of unconfirmedEmployees">
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.mobileNumber }}</td>
                  <td>
                    <button class="btn btn-success btn-sm" data-bs-toggle="modal"
                            data-bs-target="#confirm-dialog" (click)="setChangeWhat(user); setDoWhat(2)">
                      <i class="bi bi-check-lg"></i> Confirm
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#confirm-dialog" (click)="setChangeWhat(user); setDoWhat(0)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Card for Confirmed Admins -->
        <div *ngIf="confirmedAdmins.length > 0" class="col-md-8 mb-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center">Admins</h3>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Actions</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of confirmedAdmins">
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.mobileNumber }}</td>
                  <td>
                    <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
                            data-bs-target="#confirm-dialog" (click)="setChangeWhat(user); setDoWhat(1)">
                      <i class="bi bi-arrow-left-right"></i> Change Role
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#confirm-dialog" (click)="setChangeWhat(user); setDoWhat(0)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Card for Confirmed Employees -->
        <div *ngIf="confirmedEmployees.length > 0" class="col-md-8 mb-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center">Employees</h3>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Actions</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of confirmedEmployees">
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.mobileNumber }}</td>
                  <td>
                    <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
                            data-bs-target="#confirm-dialog" (click)="setChangeWhat(user); setDoWhat(1)">
                      <i class="bi bi-arrow-left-right"></i> Change Role
                    </button>
                  <td>
                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                            data-bs-target="#confirm-dialog" (click)="setChangeWhat(user); setDoWhat(0)">
                      <i class="bi bi-trash"></i>
                    </button>

                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<app-confirm-dialog id="confirm-dialog" [changeWhatFirstName]="changeWhat?.firstName"
                    [changeWhatLastName]="changeWhat?.lastName"
                    [makeWhat]="doWhat"
                    [whatRole]="whatRole"
                    [yesWhat]="yesWhat"

                    (confirm)="makeAction(doWhat,changeWhat)"></app-confirm-dialog>
